.error-nav {
  /* border: 1px solid red; */
  padding: 10px 20px;
  background: linear-gradient(
    111.89deg,
    rgba(184, 226, 219, 0.85) 7.98%,
    rgba(224, 234, 117, 0.85) 101.03%
  );
  margin-bottom: 100px;
}
.error-body {
  /* border: 1px solid red; */
  margin-bottom: 10px;
}
.error-body .message-404 {
  background-color: white;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 15px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
}
.error-body .message-404 img {
  width: 150px;
}
.error-body .message-404 p {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(4, 4, 26);
  margin-left: 10px;
}
.error-home {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .error-body .message-404 p {
    font-size: 1.2rem;
  }
  .error-body .message-404 img {
    width: 100px;
  }
}
