.footer {
  background: #000213;
  color: white;
  padding: 30px;
}
.footer ul {
  list-style: none;
}
.footer .footer-body > div {
  width: 50%;
}
.footer ul li {
  width: fit-content;
}
.footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer .footer-body p {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer .footer-body {
  /* border: 1px solid red; */
  display: flex;
  padding-left: 60px;
}
.footer .footer-bottom {
  width: fit-content;
  margin-left: 60px;
  /* margin: auto; */
  margin-top: 30px;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 30px 20px;
  }
  .footer .footer-body {
    padding-left: 20px;
  }
  .footer .footer-bottom {
    margin-left: 20px;
  }
}
