.welcome-message {
  margin-bottom: 35px;
  /* border: 1px solid turquoise; */
}
.welcome-message h1 {
  /* display: inline-block; */
  width: fit-content;
  font-size: 3.5rem;
  letter-spacing: 2px;
  margin: auto;
}
.welcome-message h1:nth-of-type(2) {
  margin-top: -5px;
  margin-bottom: 10px;
}
.welcome-message .msg-btn {
  /* border: 1px solid green; */
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 640px) {
  .welcome-message h1 {
    font-size: 2.3rem;
    /* border: 1px solid red; */
  }
}
